<div>
  <h1>{{vm.title}}</h1>

  <button ng-click="vm.getUsers()">Show users</button>

  <div>
    <table class="table" style="background-color: white;">
      <thead>
      <tr>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
        <th>address</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in vm.users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.address}}</td>
        <td><button ng-click="vm.deleteUser(user._id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>


</div>
